<style>
.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

/* typography */
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card p { 
  line-height: 1.4;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

.date {
  white-space:nowrap;
}
</style>

  <div class="item-6">
    <a href="https://photography.tutsplus.com/articles/5-inspirational-business-portraits-and-how-to-make-your-own--cms-27338"
      class="card">
      <div class="video-thumb">
        <!--    <p>This page uses HTML5 Video and captions to demonstrate the possibilities and potentials of the platform. Please note that it uses APIs that are still in development and that may change with little or no warning.  I deemed the risk acceptable for the benefits that we get using them now.</p> 
  
      <h2>Starting point</h2>
  
      <p>This is the video we will work with. It uses a movie from the Blender Foundation (thanks :) )</p>-->
        <div class="vide-container">
          <video class='video' controls="controls" preload='none' width="100%"
            poster="http://media.w3.org/2010/05/sintel/poster.png">
            <source id='mp4' src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' />
            <source id='webm' src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' />
            <source id='ogv' src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' />
            <!--
            Track to be used for accessibility using the VTT standard. 
  
            See https://www.html5rocks.com/en/tutorials/track/basics/ for more information on how to use text tracks
          -->
            <track kind="subtitles" label="English subtitles" src="subtitles_en.vtt" srclang="en" default>
            </track>
            <!-- 
          We can also add more than one text track and let the user choose which one to play. There is now way to 
          currently do this with the built in controls so it'll have to be scripted -->
            <track kind="subtitles" label="Deutsche Untertitel" src="subtitles_de.vtt" srclang="de">
            </track>
  
            <!-- 
            We're not using Flash as a fallback option. It should be coverage enough to 
          -->
            <p>Your user agent does not support the HTML5 Video element.</p>
          </video>
          <div id="extras"></div> <!-- End Extras -->
        </div> <!-- End Container -->
      </div>
      <article>
        <h1>Movie Trailer</h1>
  
        <span>
          <i class="fas fa-lg fa-video" style="color: inherit;"></i> video&nbsp;
          <span class="date">
            16 Jan
          </span>
        </span>
      </article>
    </a>
  </div>